<div class="page_header">
	<h1>Administration Console</h1>
</div>

<h2>General</h2>
<ul>
	<li><%= link_to 'Site Information', :controller => "admin", :action => "siteinfo" %></li>
	<li><%= link_to 'Dashboard Configuration', :controller => "admin", :action => "dashboard" %></li>
</ul>